---
import "../styles/global.css";
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Main from "../components/Main.astro";
import HomeIntro from "../components/HomeIntro.astro";
import HomeWorks from "../components/HomeWorks.astro";
import HomeFooter from "../components/HomeFooter.astro";
---
<Layout>
  <Header />
  <main>
    <Main />
    <HomeIntro />
    <HomeWorks />
    <HomeFooter />
  </main>
</Layout>
