---

---
<header>
    <div class="flex flex-row justify-between p-4 m-4 items-center border-b-2 border-gray-200">
        <div class="text-4xl font-bold">
            <h1 class="text-violet-500">SN</h1>
        </div>
        <nav>
            <ul class="flex gap-4 text-l font-medium">
                <li><a href="/" class="hover:underline">Home</a></li>
                <li><a href="/about" class="hover:underline">About</a></li>
                <li><a href="/projects" class="hover:underline">Projects</a></li>
                <li><a href="/contact" class="hover:underline">Contact</a></li>
            </ul>
        </nav>
    </div>
</header>